html {
  font-family: "Limelight";
}

body {
  background-color: #fffff0;
  margin: 0;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(121, 50, 61);
  margin: 0;
  padding: 10px;
  color: #fffff0;
  height: 3vh;
}

#insta_logo {
  stroke: #fffff0;
}

.nav-item:hover {
  background-color: #fffff0;
  color: rgb(121, 50, 61);
  cursor: pointer;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.second-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.cuisine {
  font-size: 1.5rem;
  text-align: center;
  margin-top: -150px;
  color: rgb(170, 24, 46);
}

#rotate_bowl {
  width: 60vw;
  display: block;
  margin-right: -55vw;
}

#fleurs_logo {
  width: 38vw;
  display: block;
  margin: 0;
  box-sizing: border-box;
}

.jours {
  transform: rotate(-35deg);
  color: aquamarine;
  display: flex;
  align-self: flex-end;
}

.join {
  color: red;
  font-size: 0.8em;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0 auto;
}
