html {
  font-family: "Limelight";
}

body {
  background-color: #fffff0;
  margin: 0;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(121, 50, 61);
  margin: 0;
  padding: 10px;
  color: #fffff0;
  height: 3vh;
  font-size: 1rem;
  font-size: clamp(1rem, -2.5rem + 8vw, 1.8rem);
}

p {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, -2.5rem + 10vw, 3rem);
}

#insta_logo {
  stroke: #fffff0;
}

.nav-item:hover {
  background-color: #fffff0;
  color: rgb(121, 50, 61);
  cursor: pointer;
  border-radius: 10px;
  padding: 0 8px;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.second-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.cuisine {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 5%;
  color: rgb(170, 24, 46);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#rotate_bowl {
  width: 60vw;
  display: block;
  margin-right: -40vw;
  /* We don't need 'transition' here for infinite animation */
}

/* 2. Apply the animation on hover */
#rotate_bowl:hover {
  /* '2s' is the speed of one full rotation. 'linear' makes it consistent speed. */
  animation: spin 0.5s linear infinite;
}

#fleurs_logo {
  width: 38vw;
  display: block;
  margin: 0;
  box-sizing: border-box;
}

.jours {
  transform: rotate(-35deg);
  color: aquamarine;
  display: flex;
  align-self: flex-end;
}

.join {
  color: red;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0 auto;
}

.menus {
  display: flex;
  color: rgb(170, 24, 46);
  justify-content: center;
}

.menu-setup {
  margin: 5px;
  text-align: center;
}

.menu-setup > h2 {
  margin-bottom: 0;
}

.menu {
  width: 25vw;
}

.menu-varier {
  font-size: 0.9em;
  text-align: center;
  margin-top: 0;
  color: red;
}

.restrictions {
  font-size: 1em;
  text-align: center;
  color: red;
}

.black {
  color: black;
  text-decoration: underline;
}

.big-bowl {
  z-index: 0;
  overflow: hidden;
  margin: 0;
}

.big-bowl img {
  object-fit: cover;
}

.storefront {
  box-sizing: border-box;
  z-index: -1;
  transform: translateY(-55vh);
  margin: 0 auto;
}

#streetview {
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
}

footer {
  text-align: center;
  color: red;
  transform: translateY(-30vh);
}
